* {
    margin: 0%;
    padding: 0%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: rgba(106, 129, 149,0.5);
}

#content1 {
    display: flex;
    position: absolute;
    box-sizing: border-box;
    background-color: rgb(130, 5, 255);
    width: 680px;
    border-radius: 25px;
    animation-name: ani;
    animation-duration: 4s;
    transform:matrix3d(180deg);
    z-index: -1;
    visibility: inherit;
    animation-fill-mode: forwards;
}
#content {
    display: flex;
    position: relative;
    font-size: xx-large;
    text-align: center;
    box-sizing: border-box;
    padding: 50px;
    color: white;
    border-radius: 25px;
    background-color: rgba(2, 11, 47,0.5);
    box-shadow: 8px 10px 5px white;
    z-index: 1;
    overflow: hidden;
}

@keyframes ani {
    from {
        margin-top: 180px;
        height: 20px;
    }

    to {
        height: 150px;
    }
}



#content p {
    color: white;
}